@model new_proekt.Models.client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clubcard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clubcard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>


    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>|
    <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Back to List", "Index")</button>
    
</p>
